[core]
    excludesfile = ~/dotfiles/git/gitignore-global
[color]
    ui = auto
[user]
    name = Stefan Jansen
    email = stefan@steffex.net
[alias]
    ahead = log origin/develop..HEAD --oneline --decorate
    st = status
    ci = commit
    co = checkout
    br = branch
    df = diff
    puff = pull --ff-only
    pur = pull --rebase
    flog = log --oneline --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    flon = log -n 20 --oneline --decorate --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
